.navbar{
	border: black 2px solid;
}
.navbar h1{
	display: inline-block;
}
.success{
	position:fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.3);
}

/*.checkBox {
	height: 10px;
	width: 10px;
	border: solid black 1px;
	display: inline-block;
}

.isGreen {
	background-color: green;
}*/