/*#ffcc00 yellow */
/*#578599 grey-blue*/ 
/*color: rgba(72, 199, 167, 1) green*/

*{
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.title a {
	/*font-family: 'Baloo';*/
	font-weight: 900;
}

a:hover {
    text-decoration: none;
}

.opening-img {
	background-size: cover;
}

video.fullscreen {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translate(-50%, -50%);
}

.video-container {
	position: relative;
}

.video-container video {
	position: relative;
	z-index: 0;
	opacity: .9;s
}

.welcomeBlurb {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 40px;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-bottom: 40px;
    margin: 0px auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button{
    text-transform: lowercase;
    background-color: white;
    border: .5px solid #578599;
    padding: 10px;
    color: #578599;
    border-radius: 5%;
}

button:hover{
    color: #ffcc00;
}

.shadow {
	opacity: 0;
	background-color: rgba(271, 271, 271, .3);
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.shadow:hover{
	opacity: 1;
}

.shadow h1{
	color:black;
	text-align: center;
	padding-top: 30px;
}

.shadow p{
	color:black;
	text-align: center;
}

.picture{
	width:250px;
	height: 250px;
/*	border: solid white .5px;*/
	float:left;
	position: relative;
	background-position: center center fixed;
	background-size: cover;
}

.one {
	background-image: url('newyork.jpg');
}

.two {
	background-image: url('monument.jpg');
}

.three {
	background-image: url('dc.jpg');
}

.four {
	background-image: url('hike.jpg');
}

.five {
	background-image: url('sand.jpg');
}
.six {
	background-image: url('surfing.jpg');
}
.seven {
	background-image: url('winetasting.jpg');
}
.eight {
	background-image: url('rugby.jpg');
}
.nine {
	background-image: url('tablemountain.jpg');
}

.nav {
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*.background {
    background: url("https://usacademy.collegenet.com/magnoliaPublic/dms/usacademy/images/idioms/kickthebucket.jpg") no-repeat center center;
    margin-top: -100px;
    background-size: cover;
    margin-top: -150px;
    width: 100%;
    height: 950px;
}*/
.feed {
    text-align: center;
    font-size: 20px;
}
/*
.space {
    margin-top: -80px;
}*/
.nav h1 {
    float: left;
    font-size: 80px;
    padding-left: 30px;
    letter-spacing: 10px;
}

.nav h1 a {
    text-decoration: none;
    color: rgba(72, 199, 167, 1);
}

.nav h1 a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.5);
   /* color: rgba(72, 199, 167, 1);*/
}

.menu {
    float: right;
    font-size: 28px;
    margin-top: 40px;
    color: #1DB5F6;
    z-index: 1;
}

.menu a {
    color: rgba(72, 199, 167, 1);
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
}

.menu a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}

.successbox{
	width:750px;
	margin-left:50%;
	transform: translate(-50%,0%);
}

.success{
	position:absolute;
	top: 0px;
/*	bottom: 0px;*/
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.7);
	padding-top: 100px;
	padding-bottom: 200px;
}

.homeSearch {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 40px;
    font-size: 20px;
    color: #578599;
    padding-top: 20px;
}
.search {
    margin: 0px auto;
    width: 400px;
    text-align: center;
}

.arrow {
    position: absolute;
/*    bottom: 30px;*/
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    height: 70px;
    margin: 0px auto;
    text-align: center;
    display: block;
    margin-top: -110px;
}

.homeBottom {
    background-color: rgba(255, 204, 0, .1);
    margin-top: -30px;
    padding-bottom: 100px;
}

#inspir {
    padding-top: 80px;
    text-align: center;
    color: rgba(72, 199, 167, 1);
    font-size: 30px;
}

.feedBoxes {
    border-top: 1px solid grey;
    padding: 15px;
    margin-top: 40px;
    width: 44%;
    margin: 0px auto;
    text-align: left;
}
.feedIcon {
    height: 80px;
    width: 110px;
    float: left;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 5px;

}
.feedBoxesTitle {
    font-size: 28px;
}
.feedBoxesTitle a {
    color: rgba(72, 199, 167, 1);
}

.feedBoxesTitle a:hover {
	color: #1DB5F6;
	text-decoration: none;
}

.feedBoxesDes {
    font-size: 20px;
    color: #578599;
}

.big-container {
    padding-left: 30px;
    margin-top: 150px;
}
.accessTitle {
    font-size: 40px;
    color: #578599;
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: bold;
}
.accessForm {
    text-align: center;
    font-size: 18px;
}
.signin-bars {
    margin: 0px auto;
    width: 100%;
}
.needAccount {
	padding-top: 50px;
    color: #1DB5F6;
    margin: 0px auto;
    width: 40%;
    
}

.centerAccount {
	margin: 0px auto;
	width: 100%;
}

.needAccountBlurb {
    font-size: 22px;
    color: rgba(72, 199, 167, 1);
    float: left;
    padding-right: 20px;
   /* margin: 0px auto;
    width: 80%;*/

}
.feedBoxes:hover{
    background-color: rgba(0,0,0,.1);
}
.newAccount {
    font-size: 14px;
    text-decoration: none;
    float: left;
    border: 2px solid #578599;

}
.newAccount a:hover {
    text-decoration: none;
    color: rgba(72, 199, 167, 1);
}
.fb {
    border: 1px solid black;
    width: 35%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.fblogin {
    height: 40px;
    color: #578599;
    font-size: 35px;
    margin: 0px auto;
    display: block;
    width: 100%;
    padding-left: 25px;
    margin-top: -5px;
/*    margin-bottom: -15px;*/
    /*border: 2px solid black;*/
}
.loginOr {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: rgba(72, 199, 167, 1);
}
.myListsTitle {
    color: #ffcc00;
    font-size: 42px;
    font-weight: bold;
    margin-top: 50px;
}

.listTitle {
    color: #578599;
    font-size: 42px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
}

.listdesc {
    color: #578599;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}


.makeNewList {
    font-size: 20px;
    margin-top: 30px;
}

.myProfileLists {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    /*color: #ffcc00;*/
}

.myProfileLists a {
    font-weight: bold;
    /*color: #ffcc00;*/
    color: #005275;
    margin-left: 20px;
}

.myProfileLists a:hover {
	text-decoration: none;
    color: rgba(0,0,0,.2);
}

.profileBtn {
    border: 2px solid #ffcc00;
    background-color: rgba(271,271,271,.5);
  /*  color: #ffcc00; 
    background-color: #578599;*/
    color: #005275;
}

.profileBtn:hover {
    text-decoration: none;
    color: rgba(0,0,0,.2);
}

.viewSuccess {
    font-size: 20px;
    margin-top: 30px;
}
.listTitle {
    color: #ffcc00;
    font-weight: bold;
    font-size: 50px;
}
.add {
    padding-right: 10px;
}

.add-btn{
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
	background-color: transparent;
}

.subtitle{
    color: green;
    display: inline-block;
}

.profilePage {
    margin-top: -20px;
    padding-top: 150px;
    padding-bottom: 525px;
    z-index: 1;
}

.profileImg {
 /*   background-color: rgba(255, 204, 0, .1);*/
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("background1.png") center center;
    background-size: cover;
    opacity: .4;
    width: 100%;
    height: 1050px;
}

/*.overlay {
	background-color: rgba(271, 271, 271, .8);
}*/

/*.signupPage {
	background-color: rgba(255, 204, 0, .1);
}*/

.signupFullPage {
   /* background-color: rgba(255, 204, 0, .1);*/
    padding-top: 200px;
 /*   position: relative;
    z-index: 1;*/
}

.signupImg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://s-media-cache-ak0.pinimg.com/736x/f4/bf/53/f4bf53f81baadda89a6b02ecb6544e45.jpg") no-repeat center center;
    background-size: cover;
    opacity: .3;
    width: 100%;
    height: 100%;
}

.signupForm {
    border-bottom: 3px solid #578599;
    border-top: 3px solid #578599;
    width: 50%;
    margin: 0px auto;
    padding: 25px;
    padding-bottom: 10px;
}

.signupInput {
    text-align: left;
}

.accessForm label {
    text-align: left;
}

.signupBtn {
    font-size: 15px;
    border: 2px solid #578599;;
}

.signupButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logonPage {
    height: 670px;
    padding-top: 150px;
}

.logonImg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://images.huffingtonpost.com/2012-07-15-COLORRUN4.jpg") center center;
    background-size: cover;
    opacity: .3;
    width: 100%;
    height: 900px;
}

.logonButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logonBtn {
    font-size: 15px;
    border: 2px solid #578599;
}

.logonForm {
    border-bottom: 2px solid #578599;
    border-top: 2px solid #578599;
    width: 50%;
    margin: 0px auto;
    padding: 25px;
    padding-bottom: 10px;
}

.listPage {
    padding-top: 20px;
}

.listImg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://i.imgur.com/z5n2C1B.jpg") center center;
    margin-top: -400px;
    background-size: cover;
    opacity: .3;
    width: 100%;
    height: 1050px;
}

.listBtn {
   border: 2px solid #578599;
    background-color: rgba(271,271,271,.5);
    color: #578599;
    padding-left: 20px;
    margin-left: 20px;
}

.listBtn:hover {
    text-decoration: none;
    color: rgba(0,0,0,.2);
}

.listEvent {
    font-weight: bold;
    /*color: #ffcc00;*/
    color: #005275;
    margin-left: 20px;
    font-size: 20px;
}

.myProfileLists:hover {
    text-decoration: none;
    color: rgba(0,0,0,.2);
}

.backToProfile {
    font-weight: bold;
    color: #005275;
    font-size: 17px;
    padding-left: 20px;
 }

.backToProfile:hover {
    text-decoration: none;
    color: rgba(0,0,0,.2);
}

.check {
    width: 20px;
}

.workplz h1 {
    color: #578599;
}
    /*height: 10px;
    width: 10px;
    border: solid black 1px;
    display: inline-block;
}
.isGreen {
    background-color: green;
