<div class="feed">
	<div class="background-overlay">
		<div class="welcomeBlurb">
			<h1 class="welcome">Oh the Things You'll Do, the Places You'll Go</h1>
			<h3 class="">Need inspiration? Check out lists made by other users</h3>
		</div>

	
		Search Bucket Lists: <input ng-model="searchText" class="homeSearch">
		

		<div ng-repeat="item in lists | filter: searchText">
			<div>	
				<div class="feedBoxes">
				<img class="feedIcon" src="http://www.myleisuregroup.com/images/slider/img5.jpg">
				<a href="#/list/{{item.$id}}"> 
				<div class="feedBoxesTitle">{{item.title}} </a></div>
				<div class="feedBoxesDes"> {{item.description}}</div>
			</div>
		</div>
	</div>
</div>