<div class="home-div">
	<div class="background">

		<div class="video-container">
		
			<video loop muted autoplay> 
				<source src="buckit.mp4" type= "video/mp4"/>
			</video>

			<div class="welcomeBlurb">
				<h1 class="welcome"> Kick your excuses to the curb, <br> Just BuckIt</h1>
			</div>


			<div><a class="page-scroll arrow" a href="#inspir"><img src="http://static.tumblr.com/qbvapn5/SOQnjkcx0/arrow-down_2x.png" class="arrow"/></a></div>
		</div>

	</div>
	<div class="homeBottom">
		<h3 id="inspir">Need inspiration? Check out lists made by other users!</h3>
		<div class="homeSearch">Search Bucket Lists: <input ng-model="searchText"></div>
	
		<div ng-repeat="item in lists | filter: searchText">
			<div>	
				<div class="feedBoxes">
				<img class="feedIcon" src="http://www.myleisuregroup.com/images/slider/img5.jpg">
				<a href="#/list/{{item.$id}}"> 
				<div class="feedBoxesTitle">{{item.title}} </a></div>
				<div class="feedBoxesDes"> {{item.description}}</div>
			</div>
		</div>
	
	</div>

</div>

<!-- poster= "opening-img.png" -->