<div class="big-container">


<h1 class="listTitle">{{list.title}}</h1>



<p> Created by: <a href="#/visitorProfile/{{list.user}}"> {{user_email}}</a></p>


<div ng-repeat="(id, event) in list.events">



<div class="add">
{{event.title}}
	<button class="add-btn" ng-click="isAdding = true" ng-show="firebaseUser">
	+
	</button>
</div>

	<div ng-show="isAdding">
		<select ng-options="key as val.title for (key, val) in myListArray" ng-model="data.selectedList"></select>
	
		<button ng-click="addTo(event.title); isAdding = false; isAdded = true">Add to List!</button>

	</div>		<div ng-show="isAdded">Added to List!</div>
</div>


</div>

