<h1> Log In </h1>

<div ng-show="successLogin" class="alert alert-success fade in">
	{{successLogin}}
</div>


<div>
<p>Don't have an existing Account?</p>
<button><a href="#/signup">New Account</a></button>
</div>


<form ng-submit="login()">
  <div>
    <label>Email</label>
    <input ng-model="email">
  </div>
  
  <div>
    <label>Password</label>
    <input type="password" ng-model="password">
  </div>
  
  <button type="submit">Sign up</button>
</form>

<p>..Or..</p>

<div class="btn btn-info btn-block" ng-click="loginWithFb()">
	Login with Facebook
</div>

