<div ng-hide="title.isEditing">
	<span ng-dblclick= "title.isEditing = true">
		<h1> *   {{list.title}}</h1>
		<h3> {{list.description}}</h3>
	</span>
</div>

<div ng-show = "title.isEditing">
	<input ng-model = "list.title">	
		<button ng-click="title.isEditing = false">
			<div ng-click="edit()">
				Done
			</div>
		</button>	
</div>






<div ng-repeat="(id, event) in list.events">

<div>

	<div ng-hide="event.isEditing">
		<span ng-dblclick= "event.isEditing = true">
			<input type="checkbox" ng-click="completed(id); complete = true" ng-checked="event.isCompleted"> {{event.title}}
		</span>

		<button ng-click= "event.isEditing = true">Edit</button>

		<button ng-click= "remove($index)"> Delete </button>

		<div ng-show="complete">	
			<form>
				<input type="file" fileread="newMessage.image">
				<button ng-click="uploadImage()"> Upload! </button>
			</form>
		</div>
	</div>

	<div ng-show = "event.isEditing">
		<input ng-model = "event.title">	
			<button ng-click="event.isEditing = false" type="submit">Done</button>	
	</div>
</div>

	
</div>

<button ng-click="createNew = true" ng-hide="createNew">New Goal</button>
<form ng-submit="createEvent()" ng-show="createNew">
To Do:<input ng-model="eventName">

<button type="submit" ng-click>Add to List!</button>
</form>