<h1 class="myListsTitle">My Lists</h1>

<button class="makeNewList" ng-click="makeList=true" ng-hide="makeList">Create New List</button>

	<form ng-submit ng-show="makeList">
		List Title: <input ng-model="title">
		List Description: <input ng-model="description">

		<button type="submit" ng-click="newList(); makeList=false">Create List</button>
	</form>


<div class="myProfileLists" ng-repeat="item in lists">
	<a href="#/myList/{{item.$id}}" ng-show="item.user === current_user_id"> {{item.title}}: {{item.description}} </a>
</div>



<div>
	<button class="viewSuccess" ng-click="showSuccess = true">View All Successes</button>
		<div class="success" ng-show="showSuccess" ng-click="showSuccess=!showSuccess">

			All the completed tasks show up and fill screen
			<div ng-repeat="item in myCompleted">
					<div>
						{{item.title}}
						<img ng-src="{{completedPic}}"/> 
					</div>
				</div>
			</div>

		</div>
</div>