<div class="signupFullPage">
  <div class = "signupImg"></div>

    <div class="signupForm">
    <h1 class="accessTitle">Create New Account</h1>

    <form class="accessForm" ng-submit="signUpWithEmail()">
      <div>
        <label>Name</label>
        <input class="signupInput" ng-model="name">
      </div>
      
      <div>
        <label>Email</label>
        <input class="signupInput" ng-model="email">
      </div>
      
      <div>
        <label>Password</label>
        <input class="signupInput" type="password" ng-model="password">
      </div>
      
      <div class="signupButton"><button type="submit" class="signupBtn">Sign up</button></div>
      
    </form>

    </div>

</div>
